/AlgoliteTranspiler/Debug/
/Documentation/
/AlgoliteTranspiler/Release/
/AlgoliteTranspiler/x64/
/AlgoliteTranspiler/AlgoliteTranspiler/Debug/
/AlgoliteTranspiler/AlgoliteTranspiler/Release/
/AlgoliteTranspiler/AlgoliteTranspiler/x64/
/AlgoliteTranspiler/AlgoliteTranspiler/finalOutput.cpp
/AlgoliteTranspiler/AlgoliteTranspiler/output_program.cpp
*.png
*.sln
*.vcxproj*
/AlgoliteTranspiler/.vs/