/AlgoliteTranspiler/Debug/
/AlgoliteTranspiler/Release/
/AlgoliteTranspiler/.vs
/Documentation/
/AlgoliteTranspiler/x64/
/AlgoliteTranspiler/AlgoliteTranspiler/Debug/
/AlgoliteTranspiler/AlgoliteTranspiler/Release/
/AlgoliteTranspiler/AlgoliteTranspiler/x64/
/AlgoliteTranspiler/AlgoliteTranspiler/finalOutput.cpp
/AlgoliteTranspiler/AlgoliteTranspiler/output_program.cpp
/AlgoliteTranspiler/.vs/
*.out
*.exe
*.png
*.sln
*.vcxproj*
.DS_Store